export(column_anno_histogram)
export(anno_boxplot)
exportMethods(column_order)
export(ColorMapping)
export(HeatmapAnnotation)
export(column_anno_boxplot)
export(selectArea)
export(row_anno_barplot)
export(Heatmap)
export(row_anno_points)
export(column_anno_text)
export(decorate_row_dend)
export(decorate_column_dend)
exportMethods(draw)
export(unify_mat_list)
exportMethods(draw_heatmap_body)
exportMethods(color_mapping_legend)
exportMethods(prepare)
export(decorate_annotation)
exportMethods(map_to_colors)
export(decorate_dimnames)
export(column_anno_points)
exportMethods(component_height)
export(row_anno_text)
exportClasses(SingleAnnotation)
export(SingleAnnotation)
export(oncoPrint)
exportClasses(AdditiveUnit)
export(AdditiveUnit)
export(max_text_height)
export(enhanced_basicplot)
exportMethods(annotation_legend_size)
exportMethods(row_order)
export(Legend)
export(AdditiveUnit)
exportMethods(draw_heatmap_list)
export(row_anno_density)
export(is_abs_unit)
export(dist2)
export(decorate_heatmap_body)
exportMethods(draw_heatmap_legend)
exportMethods(add_heatmap)
export(anno_barplot)
exportMethods(row_dend)
export(row_anno_boxplot)
export(max_text_width)
export(anno_link)
exportMethods(make_layout)
export(decorate_row_title)
export(anno_histogram)
export(plotDataFrame)
exportMethods(draw_dimnames)
exportClasses(ColorMapping)
export(ColorMapping)
exportClasses(HeatmapAnnotation)
export(HeatmapAnnotation)
export(anno_points)
exportMethods(draw_title)
export(ht_global_opt)
export('+.AdditiveUnit')
export(decorate_column_names)
export(column_anno_barplot)
export(densityHeatmap)
exportMethods(heatmap_legend_size)
exportClasses(HeatmapList)
export(HeatmapList)
export(column_anno_density)
exportClasses(Heatmap)
export(Heatmap)
exportMethods(draw_annotation_legend)
exportMethods(column_dend)
exportMethods(set_component_height)
export(row_anno_link)
exportMethods(make_column_cluster)
export(HeatmapList)
exportMethods(draw_annotation)
export(SingleAnnotation)
export(row_anno_histogram)
exportMethods(get_color_mapping_list)
exportMethods(make_row_cluster)
exportMethods(component_width)
export(decorate_column_title)
exportMethods(draw_dend)
exportMethods(get_color_mapping_param_list)
export(grid.dendrogram)
export(decorate_title)
export(decorate_dend)
export(rowAnnotation)
export(column_anno_link)
export(columnAnnotation)
export(decorate_row_names)
export(anno_text)
export(anno_density)





import(grDevices)
import(graphics)
import(grid)
import(stats)
importFrom("GetoptLong", qq)
importFrom("GetoptLong", qq.options)
importFrom("GetoptLong", qqcat)
importFrom("GlobalOptions", setGlobalOptions)
importFrom("RColorBrewer", brewer.pal)
importFrom("circlize", colorRamp2)
importFrom("circlize", rand_color)
importFrom("circlize", smartAlign)
importFrom("colorspace", diverge_hcl)
importFrom("colorspace", rainbow_hcl)
importFrom("dendextend", "labels<-")
importFrom("dendextend", get_branches_heights)
importFrom("dendextend", nnodes)
importFrom("methods", setClass)
importFrom("methods", setGeneric)
importFrom("methods", setMethod)
importFrom("methods", "new", "show")
importFrom("utils", "getFromNamespace")




