exportClasses(ColorMapping)
export(ColorMapping)
exportMethods(heatmap_legend_size)
exportMethods(component_width)
exportMethods(draw_hclust)
exportMethods(draw_heatmap_legend)
exportMethods(set_component_height)
export(+.Heatmap)
exportMethods(draw_title)
exportMethods(add_heatmap)
export(anno_points)
exportMethods(prepare)
export(anno_histogram)
exportMethods(map)
export(anno_simple)
exportMethods(draw)
export(+.HeatmapList)
exportClasses(HeatmapList)
export(HeatmapList)
exportMethods(draw_annotation)
exportMethods(make_column_cluster)
export(anno_boxplot)
exportMethods(show)
exportMethods(annotation_legend_size)
exportClasses(Heatmap)
export(Heatmap)
exportMethods(make_row_cluster)
exportMethods(draw_heatmap_list)
exportMethods(draw_annotation_legend)
exportMethods(get_color_mapping_list)
exportClasses(SingleAnnotation)
export(SingleAnnotation)
exportMethods(make_layout)
export(grid.dendrogram)
exportMethods(draw_dimnames)
exportMethods(color_mapping_legend)
exportMethods(component_height)
exportMethods(draw_heatmap_body)
export(dist2)
exportClasses(HeatmapAnnotation)
export(HeatmapAnnotation)
exportMethods(initialize)

import(grid)
import(methods)
importFrom("RColorBrewer", brewer.pal)
importFrom("circlize", colorRamp2)
importFrom("circlize", rand_color)
importFrom("GetoptLong", qq)
importFrom("GetoptLong", qqcat)
importFrom("GetoptLong", qq.options)

