exportClasses(AdditiveUnit)
export(AdditiveUnit)
export(anno_histogram)
exportMethods(annotation_legend_size)
exportMethods(component_height)
exportMethods(draw_hclust)
export(HeatmapAnnotation)
exportMethods(draw_annotation_legend)
exportMethods(draw_heatmap_body)
export(AdditiveUnit)
export(anno_simple)
exportMethods(draw_dimnames)
exportClasses(HeatmapList)
export(HeatmapList)
exportMethods(show)
exportMethods(make_column_cluster)
exportMethods(draw)
exportMethods(color_mapping_legend)
exportClasses(ColorMapping)
export(ColorMapping)
export(anno_boxplot)
exportMethods(add_heatmap)
exportMethods(make_row_cluster)
exportMethods(make_layout)
exportMethods(map)
exportMethods(draw_heatmap_list)
exportMethods(draw_heatmap_legend)
export(Heatmap)
exportMethods(heatmap_legend_size)
exportMethods(get_color_mapping_list)
export(ColorMapping)
exportClasses(Heatmap)
export(Heatmap)
export(anno_points)
exportMethods(set_component_height)
export(+.AdditiveUnit)
exportMethods(prepare)
exportMethods(component_width)
exportClasses(SingleAnnotation)
export(SingleAnnotation)
export(HeatmapList)
exportClasses(HeatmapAnnotation)
export(HeatmapAnnotation)
export(SingleAnnotation)
export(grid.dendrogram)
exportMethods(draw_title)
exportMethods(draw_annotation)
export(dist2)

import(grid)
importFrom("methods", setClass)
importFrom("methods", setMethod)
importFrom("methods", setGeneric)
importFrom("circlize", colorRamp2)
importFrom("circlize", rand_color)
importFrom("GetoptLong", qq)
importFrom("GetoptLong", qqcat)
importFrom("GetoptLong", qq.options)
importFrom("colorspace", rainbow_hcl)
importFrom("colorspace", diverge_hcl)

